@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf')  format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf')  format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin.ttf')  format('truetype'), url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

html, body{font-family: 'Montserrat';font-weight: 500;overflow: hidden;overflow-y: auto;}
input:focus, button:focus, textarea:focus{outline: none;}
ul{padding: 0; margin: 0;}
a{text-decoration: none !important; transition: all .3s ease; -webkit-transition: all .3s ease;}
a, a:hover, a:focus, a:active{text-decoration: none;}
.row.vertical-middle{display: flex; -webkit-display: flex; -ms-display: flex; -moz-display: flex; -ms-flex-align: center; align-items: center; } 
.align-center{margin: 0 auto !important;}
.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image{box-shadow: none !important}
.slick-slide {outline: none !important; }
.back-to-top a {background-color: #FFF; opacity: 0; width: 40px; height: 40px; display: block; border-radius: 5px; line-height: 39px; font-size: 30px; text-align: center; color: #000; box-shadow: 0 0 15px rgba(0, 0, 0, 0.19); }
.back-to-top {position: fixed; right: 20px; bottom: 20px; }
.back-to-top.active a{opacity: 0.8;}
.back-to-top a:hover{opacity: 1;}
.modal-video {z-index: 99999999;}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00adef; 
}


h2 {font-size: 34px; font-weight: bold; }
@media (max-width: 1199px){
}

h3 {font-size: 30px; font-weight: bold; }
@media (max-width: 1199px){
    h3{font-size: 24px;}
}
p {font-size: 20px; font-weight: 400; line-height: 36px;}
@media (max-width: 1199px){
    p{font-size: 16px;}
}

h1, h2, h3 {position: relative; font-weight: 700; color: #00afef; font-size: 36px; line-height: 46px;}
/*h1:before, h2:before, h3:before {content: ''; background-repeat: no-repeat; width: 165px; height: 130px; position: absolute; left: -65px; top: -73px; background-image: url(../img/milk-icon.png); background-size: contain; z-index: -1; background-position: bottom; }*/

@media (max-width: 1199px){
  h1, h2, h3 {font-size: 32px;line-height: 40px;}
}

@media (max-width: 991px){
  h1:before, h2:before, h3:before {width: 100px;height: 74px;left: 0;top: -21px;background-size: 100% 100%;}
}

@media (max-width: 767px){
  h1, h2, h3 {font-size: 26px;line-height: 32px;}
}

@media (max-width: 450px){
  h1, h2, h3 {font-size: 20px;line-height: 28px;}
}

.inner-default-page p{font-family: 'Roboto', sans-serif; font-size: 16px; }

#cboxClose {
    border: none !important;
}


/*.page-template-default{position: relative; background: url(../img/inner-left-timg1.png); background-repeat: no-repeat; background-repeat: repeat-y; }*/
/*.page-template-default:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/inner-right-timg1.png);
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
        z-index: -1;
    background-position-x: right;
}*/
/*@keyframes animatedBackgrounda {
  from { background-position: left 0; }
  to { background-position: left 100%; }
}

@keyframes animatedBackground {
  from { background-position: right 0; }
  to { background-position: right 100%; }
}*/

/*--header-css--*/
.header-sec {background-color: #fff; /*box-shadow: 0 0 10px #00000030;*/ position: fixed; top: 0px; left: 0px; width: 100%; z-index: 9999999; }
.header-sec .wpmm_brand_logo_wrap img {width: 100%; max-width: 125px; max-width: 150px;margin-bottom: 5px;    margin-top: 5px; transition: all .3s ease;}
.header-sec .wp-megamenu-wrap.wpmm-sticky.wpmm-sticky-wrap {background-color: rgba(255, 255, 255, 0.98); box-shadow: 0 0 10px rgba(0, 0, 0, 0.18); }
.wpmm_mobile_menu_btn {background-color: transparent !important; padding: 0 !important; line-height: 1 !important; }
.wpmm_mobile_menu_btn i {font-size: 40px !important; color: #1f1f1f !important; margin: 17px 0 !important; }
div#wpmm-strees-row-20 {width: 100% !important; left: 0 !important; right: 0 !important; margin: auto !important; }
.header-sec ul.wp-megamenu-sub-menu {width: 100% !important; max-width: 1170px; margin: auto !important; }
div#wpmm-strees-row-20 > ul.wp-megamenu-sub-menu {box-shadow: 0 15px 10px #00000030 !important; }
.header-sec .wp-megamenu-wrap.wpmm-sticky.wpmm-sticky-wrap .wpmm_brand_logo_wrap img {max-width: 110px; }
.header-sec .wp-megamenu-wrap.wpmm-sticky.wpmm-sticky-wrap .wpmm-nav-wrap>ul>li>a {padding: 28px 14px; }

.header-sec .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container ul.wp-megamenu-sub-menu li ul li ul li ul li a {
    padding-left: 10px;
}
.header-sec .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container ul.wp-megamenu-sub-menu li ul li ul li ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 10px;
}
.header-sec .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu .wpmm-strees-row-and-content-container>.wp-megamenu-sub-menu>li>.wp-megamenu-sub-menu>li>ul.wp-megamenu-sub-menu {
    padding-bottom: 0;
}
.header-sec .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu .wpmm-strees-row-and-content-container>.wp-megamenu-sub-menu>li>.wp-megamenu-sub-menu>li {
    padding: 0 5px;
}
.header-sec .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu li.wpmm_mega_menu .wpmm-strees-row-and-content-container > .wp-megamenu-sub-menu >li {
    padding: 10px 12px;
}
.header-sec li#wp-megamenu-item-821 a {background: #00afef; color: #fff; padding: 10px; border-radius: 5px; }

/*--end--*/

/*--hero-banner-sec-css--*/
.hero-banner-sec { position: relative; }
.hero-banner-sec .video-sec {position: relative; height: 100vh; overflow: hidden; width: 100%; text-align: right;}
.hero-banner-sec .video-sec video.video-sec__content {width: 100%;height: 100%;object-fit: cover;margin: 0 auto; }
.hero-banner-sec .video-sec:after {content: ''; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); position: absolute; top: 0; left: 0; }
.hero-banner-sec .hero-contentbox {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.hero-banner-sec .hero-contentbox .container {z-index: 9; position: relative; height: 100%; display: flex; align-items: flex-start; flex-flow: column-reverse; }
.hero-contentbox .hero-textbox {width: 100%; max-width: 605px; }
.hero-contentbox .hero-textbox p {font-size: 22px; font-weight: 500; line-height: 40px; }
.hero-banner-sec .hero-contentbox .hero-textbox {margin-bottom: 5px; display: flex; align-items: flex-end; justify-content: flex-end; height: 100%; flex-direction: column; }
.hero-banner-sec .hero-contentbox .hero-textbox h1 { color: #fff; }
.hero-banner-sec .hero-contentbox .hero-textbox h1:before { background-image: none; }
.hero-banner-sec .hero-contentbox .hero-textbox p { color: #fff; }

.hero-img-box-sec {position: relative; width: 100%; padding: 30px 0; /*background-color: #f7f7f7; */position: absolute;bottom: 0;right: 0;z-index: 99;}
.hero-img-box-sec .container-box {max-width: 600px; margin: 0 0 0 auto; }
.hero-img-box-secin { width: 100%; text-align: center; padding: 0 10px;}
.hero-img-box {width: 100%; display: inline-block; padding: 3px; background: #fff; overflow: hidden; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); transition: all .3s ease; -webkit-transition: all .3s ease; }
.hero-img-box:first-child { margin-left: 0; }
.hero-img-box img {width: 100%; height: 120px; object-fit: cover; }
.hero-img-box-secin .hero-img-box {width: calc(100%/4 - 20px); margin: 0 10px; float: left; }
.hero-img-box-secin:after {content: ''; display: table; width: 100%; }
.hero-img-box-secin .hero-img-box:hover {box-shadow: 0 15px 15px rgba(0, 0, 0, 0.12); }
/*--end--*/

/*--turnkey-sec-css--*/
.turnkey-sec-1 {padding: 30px 0; background: url(../img/milk-png-1.png); background-repeat: no-repeat;background-position: right top;}
.turnkey-sec-1 .left-imagebox1 {padding-right: 80px; }
.turnkey-sec-1 .left-imagebox1 img {width: 100%; height: 344px; border-radius: 20px; }
/*--end--*/


/*--image-text-sec-css--*/
.image-text-sec {padding: 20px 0; position: relative; background: url(../img/milk-png-1.png); background-repeat: no-repeat;background-position: right top;}
.image-text-sec .left-imagebox {background-size: 100% 100%; background-repeat: no-repeat; width: 100%; max-width: 451px; padding: 59px 0 100px; position: relative; }
.image-text-sec .left-imagebox img {width: 100%; height: auto; max-width: 400px; margin-left: 20px; }
.image-text-content {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; }
.image-text-content .text-box {width: 57%; margin: 0 0 0 auto; padding-right: 100px; }
.image-text-content .text-box p {margin-top: 30px; }
.read-morebtn a {background-color: #00afef; border: none; padding: 15px 60px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); color: #FFF; margin: 30px 0 0; display: inline-block; }
.read-morebtn a:hover{background-color: #000; color: #FFF;}
/*--end--*/


/*--dairy-farm-sec-css--*/
.dairy-farm-sec {background: #f7f7f7 url(../img/img3.png); background-repeat: no-repeat; padding: 20px 0 0; background-position: bottom left; background-size: contain; }
.dairy-farm-sec .container {position: relative; padding-bottom: 205px;}
.dairy-farm-sec .text-box {width: 58%; margin: 0; padding-right: 0; }
.dairy-farm-sec .right-top-prbox {position: absolute; top: 0; right: 0; width: 150px; height: 150px; }
.dairy-farm-sec .right-top-prbox {position: absolute; top: 0; right: 0; width: 160px; height: 160px; background-color: #c8eefd; border-radius: 100%; }
.dairy-farm-sec .right-top-prbox img {width: 100%; height: 100%; transition: all .3s ease; -webkit-transition: all .3s ease; object-fit: cover; border-radius: 100%; }
.dairy-farm-sec .right-top-prbox a {width: 145px; height: 145px; border-radius: 100%; background-color: #FFF; overflow: hidden; display: flex; justify-content: center; align-items: center; padding: 10px; }
.dairy-farm-sec .bottom-imgbox {width: 400px; height: 400px; border-radius: 100%; margin: 0 200px 0 auto; position: relative; }
.dairy-farm-sec .bottom-imgbox img {width: 100%; height: 100%;object-fit: cover;border-radius: 100%;}
.dairy-farm-sec .bottom-imgbox a {display: block; width: 450px; height: 450px; border-radius: 100%; padding: 15px; background-color: #FFF; overflow: hidden; margin: 60px 0 0 0; position: absolute; top: 0; left: 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.28); }
.dairy-farm-sec .right-top-prbox a:hover img{transform: scale(1.1,1.1);}
.dairy-farm-sec .bottom-imgbox a:hover {transform: scale(1.1); }
/*--end--*/

/*--home-column-slider-css--*/
.home-column-slider {padding: 20px 0; }
.homeslider1 .slide-1 .row {display: flex; }
.homeslider1 .slide-1 .left-column img {width: 100%; height: 100%; object-fit: cover; border-radius: 15px; }
.homeslider1 .slide-1 .left-column {padding-right: 75px; }
.homeslider1 .right-column {padding-top: 52px; padding-bottom: 15px; }

.home-column-slider .homeslider1 .slick-dots li button {background: #00afef; border-radius: 100px; width: 18px; height: 18px; }
.home-column-slider .homeslider1 .slick-dots li button:before {font-size: 50px; line-height: 20px; top: 4px; left: -1.5px; width: 21px; height: 20px; opacity: 1; color: #FFF; }
.home-column-slider .homeslider1 .slick-dots li.slick-active button:before {opacity: 1; color: #00afef; }
.home-column-slider .homeslider1 ul.slick-dots {bottom: -80px; }
/*--end--*/

/*--get-in-touch-sec-css--*/
.getin-touch-sec {background-size: cover; }
.get-intouch-form {display: block; width: 550px; height: 550px; border-radius: 100%; padding: 20px; background-color: #00afef; overflow: hidden; margin: 82px 90px 100px auto; position: inherit; top: 0; left: 0; box-shadow: 0 0 20px rgba(0, 0, 0, 0.28); }
.getin-touchform {width: 100%; max-width: 320px; margin: 0 auto; padding: 15px 0 0; }
.getin-touchform .form-titlebox {text-align: center; padding: 30px 0 20px; }
.getin-touchform .form-titlebox h3 {color: #FFF; font-size: 32px; margin: 0; line-height: 1; }
.getin-touchform .form-titlebox h3:before{display: none;}
.getin-touchform .form-titlebox p {color: #FFF; margin: 0; font-size: 18px; }
.getin-touchform .input-box {padding: 0 0 10px; }
.getin-touchform .input-box input {width: 100%; background-color: transparent; border: none; border-bottom: #FFF 4px solid; color: #FFF; padding: 5px 0; font-size: 18px; }
.getin-touchform .input-box input::placeholder, .getin-touchform .input-box textarea::placeholder {color: #FFF; }
.getin-touchform .input-box textarea{padding: 0 0 10px; }
.getin-touchform .input-box textarea {width: 100%; background-color: transparent; border: none; border-bottom: #FFF 4px solid; color: #FFF; padding: 5px 0; font-size: 18px; height: 85px; resize: none; }
.getin-touchform .submit-box {padding: 20px 0 0; text-align: center; }
.getin-touchform .submit-box input {background-color: #FFF; border: none; width: 100%; max-width: 180px; padding: 15px 0; font-size: 18px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.46); color: #00afef; }
.getin-touchform .submit-box input:hover, .getin-touchform .submit-box input:focus{background-color: #000; color: #FFF;}

.getin-touchform .input-box span.wpcf7-not-valid-tip {position: absolute; right: 0}
.get-intouch-form form .wpcf7-validation-errors {font-size: 11px; max-width: 250px; margin: 10px auto; text-align: center;}
.get-intouch-form form div.wpcf7-mail-sent-ok{font-size: 11px; max-width: 220px; margin: 10px auto; text-align: center; color: #fff;}
/*--end--*/

/*--brand-sec-css--*/
.brand-sec {padding: 20px 0 10px; }
.brand-sec h3 { margin-bottom: 20px; text-align: center; }
.brand-sec p {font-size: 18px; text-align: center; font-weight: 500; }
.brand-sec .left-column1 p {line-height: 30px; font-weight: 600; text-align: center; font-size: 16px; }
.brand-sec .right-column1 ul li img {width: 100%; max-width: fit-content; visibility: unset !important; animation-name: unset !important; margin: 0 auto 20px; height: 80px; object-fit: contain; }
.brand-sec .right-column1 ul li {width: calc(100%/5); display: block; padding: 0; }
.brand-sec .right-column1 ul li:before { display: none; }
.brand-sec .right-column1 ul {display: flex; align-items: center; flex-wrap: wrap; }
.brand-sec .row {padding: 0px 0; }
/*--end--*/


/*--footer-css--*/
.footer-sec{position: relative;}
.footer-menubox h3.widget-title:before {display: none; }
.footer-copyrightbox .container {border-top: #FFF 1px solid; }
.footer-copyrightbox p {font-size: 16px; color: #FFF; margin: 0; padding: 20px 0; }
.footer-copyrightbox .footer-sociallinks ul {text-align: right; }
.footer-copyrightbox .footer-sociallinks ul li {color: #FFF; display: inline-block; padding: 20px 8px; font-size: 18px; }
.footer-copyrightbox .footer-sociallinks ul li a {color: #FFF; }
.footer-sec {padding: 170px 0 40px; background-size: cover;}
.footer-sec .footer-menubox1 h3.widget-title {color: #FFF; font-size: 20px; }
.footer-sec .footer-menubox1 p {font-size: 16px; color: #FFF; line-height: 34px; }
.footer-sec .footer-menubox1 li a {color: #FFF; }
.footer-sec .footer-menubox1 li {display: block; padding: 4px 0 8px; font-size: 16px; font-weight: 400; }
.footer-sec .footer-menubox1 li a img {margin-right: 10px; }
.footer-sec .footer-menubox1 li:nth-child(3) a img, .footer-sec .footer-menubox1 li:last-child a img {opacity: 0; }
.footer-sec .footer-menubox1:last-child img {width: 100%; max-width: 100px; }
.footer-menubox .footer-menubox1 {padding-bottom: 60px; }
.footer-sec .footer-menubox1 li a:hover {color: #000; }
.footer-copyrightbox .footer-sociallinks ul li a:hover i {transform: scale(1.5,1.5); }
.footer-copyrightbox .footer-sociallinks ul li a:hover{color: #000;}
.footer-menubox {z-index: 2; position: relative; }
.footer-copyrightbox {z-index: 2; position: relative; }
.footer-sec:after {content: ''; width: 100%; background: url(../img/footer-milk.png); height: 350px; background-size: cover; position: absolute; bottom: 0; z-index: 0;opacity: 0.3;}
/*--end--*/

/*--inner-page-css--*/
.inner-page-banner { position: relative; width: 100%; margin-top: 90px;  }
.inner-page-banner:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: .1; }
.inner-page-banner img { width: 100%; min-height: 100%; object-fit: cover; }
.inner-banner-text { position: absolute; top: 0; width: 100%;height: 100%; }
.inner-banner-text .container {height: 100%; }
.inner-page-banner h3 { padding: 0px 0; color: #fe9835; font-size: 30px;text-align: right; line-height: 1.4; }
.inner-page-banner h3:before { background-image: none; }
.page-template-default .inner-default-page {padding: 0; margin: 0 auto; }
.inner-default-page header.entry-header h1.entry-title{display: none; }
.inner-default-page header.entry-header img {width: 100%; height: 100%; object-fit: cover;}
.inner-default-page header.entry-header {width: 100%; background-color: #00afef; height: 250px; overflow: hidden; }
.inner-page-title-text > .wpb_wrapper {text-align: center; padding: 15px 0 15px; }
.inner-page-title-text.inner-special-textbox11 .wpb_wrapper {text-align: center; padding: 0px 0 0px; }
.inner-page-title-text h2, .inner-page-title-text h3 {display: inline-block; }
.inner-second-title > .wpb_wrapper, .inner-third-title > .wpb_wrapper {text-align: center; }
.inner-second-title, .inner-third-title {padding: 10px 0 10px; }
.inner-second-title h2, .inner-second-title h3, .inner-third-title h3 {font-size: 30px; margin: 0; display: inline-block; }
.inner-second-title h2:before {width: 100px; height: 77px; background-size: contain; left: -46px; top: -30px; }
.inner-second-title h3:before, .inner-third-title h3:before {width: 100px; height: 77px; background-size: contain; left: -46px; top: -30px; }
.neck-collar-title h2:before { left: 0; }
.inner-default-page p b, .inner-default-page p strong {font-weight: 500; }
.inner-full-content-sec p {margin: 10px 0; }
.full-single-image-sec{padding-top: 40px; padding-bottom: 40px; }
.inner-third-title.plain-text-title {padding-bottom: 0; }
.inner-full-content-textbox.plain-text-title-content {padding-bottom: 40px; }
.inner-default-page li {font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 400; padding: 6px 0; }

.inner-special-textbox p {position: relative; background-color: #ffffff; color: #fe8d20; font-size: 28px; line-height: 38px; width: 100%; border-radius: 10px; padding: 10px 20px; font-weight: 500; margin: 30px auto 10px; border: 2px solid #00afef; }

.bucket-highlited-listbox li {width: calc(100%/3 - 20px); float: left; padding: 10px 20px 10px 30px; position: relative; font-size: 16px; background-color: #f3f3f3; margin: 10px 10px; border-radius: 4px; display: block; }
.bucket-highlited-listbox {padding: 20px 0 0; }
.bucket-highlited-listbox ul, .inner-default-page ul {padding: 0;margin: 0;}
/*.simple-highlited-listbox li:before {content: "\f0a4"; font-family: FontAwesome; padding-right: 15px; color: #00afef; position: absolute; left: 0; }*/
.home-list li, .simple-highlited-listbox li, .inner-default-page ul li {position: relative; display: block; padding:10px 0 5px 25px; }
.bucket-highlited-listbox li:before, .home-list li:before, .simple-highlited-listbox li:before, .inner-default-page ul li:before {content: ""; font-family: FontAwesome; color: #00afef; background-image: url(../img/black-icon.png); background-size: 18px; background-repeat: no-repeat; position: absolute; left: 10px; top: 10px; height: 18px; width: 18px; }
.home-list li:before, .simple-highlited-listbox li:before, .inner-default-page ul li:before { background-image: url(../img/blue-icon.png); left: 0;}


.splitting .char {animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both; animation-delay: calc(40ms * var(--char-index)); }

@keyframes slide-in {
  from {transform: translateX(-1em) rotate(-.5turn) scale(0.5); opacity: 0; }
}

/*career-form-sec*/
.career-form-sec { padding: 30px 0; }
.career-form-sec h3 { margin-bottom: 20px !important; }
.career-form {  }
.career-form .input-box { margin-bottom: 15px; }
.career-form .input-box input { background: white; border: 1px solid #ccc; color: #444; font-size: 15px; font-weight: 400; line-height: 1em; padding: 10px 12px; border-radius: 5px; width: 100%; height: auto; }
.career-form .file { position: relative; }
.career-form .file input { padding-left: 50px; }
.career-form .file input:before { content: 'Upload Your CV'; position: absolute; top: 0; left: 0; display: inline-block; z-index: 1; background: #00afef; padding: 14px 12px; color: #fff; width: 142px; }
.career-form .submit-btn input { background-color: #00afef; border: none; padding: 15px 60px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.46); color: #FFF; margin: 30px auto 0; display: block; width: auto; }
.career-form .submit-btn input:hover { background-color: #000; color: #FFF; }


/*--gallery-page-css--*/
.gallery-video-box > .wpb_wrapper {padding-bottom: 15px; }
.inner-gallery-sec {padding-bottom: 20px; }
.gallery-page-sec1 {display: none; }

.wpb_image_grid .wpb_image_grid_ul {height: auto !important; }
.wpb_image_grid .wpb_image_grid_ul:after {content: ''; display: table; width: 100%; }
.wpb_image_grid .wpb_image_grid_ul li {width: calc(100%/4 - 20px) !important; float: left !important; position: inherit !important; margin: 10px !important; left: 0 !important; top: 0 !important; right: 0 !important; bottom: 0 !important; }
.wpb_image_grid .wpb_image_grid_ul li img {width: 100%; height: 188px; object-fit: cover; }
.wpb_image_grid .wpb_image_grid_ul {height: auto !important; display: flex; flex-flow: wrap; }

figure.wpb_wrapper.vc_figure .vc_single_image-wrapper.vc_box_border_grey img.vc_single_image-img.attachment-full {border-radius: 15px; border: #FFF 5px solid; box-shadow: 0px 20px  0px -15px rgba(0, 0, 0, 0) !important; transition: ease all 0.7s; -webkit-transform: scale(0.93); -moz-transform: scale(0.93); transform: scale(0.93);}
figure.wpb_wrapper.vc_figure .vc_single_image-wrapper.vc_box_border_grey img.vc_single_image-img.attachment-full:hover{box-shadow: 0px 20px  0px -15px rgba(0, 175, 239, 0.2) !important; cursor: pointer; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}

.video-gallery{padding-bottom: 50px;}
.video-gallery ul li:before {display: none; }
.video-gallery ul li figure {padding: 10px; position: relative !important; width: 100%; }
.video-gallery ul li figcaption {display: none;}
.video-gallery ul {padding: 0 !important; display: flex; justify-content: center; align-items: center; }
.video-gallery ul li figure iframe {width: 100% !important; }

.mordern-growth {padding-top: 15px; }
.heat-detecting {line-height: 1.8; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }
.heat-detecting-sec h4 {font-size: 20px; margin-bottom: 15px; }
.heat-detecting-btn {background-color: #00afef; border: none; padding: 5px 30px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); color: #FFF; margin: 10px auto; display: inline-block; }
.heat-detecting-btn:hover{background: #000; color:#fff;}

/*--end--*/

/*--contact-page-css--*/
.contact-page-mapsec iframe {height: 815px; }
.contact-page-mapsec {margin-bottom: -250px !important; }
.page.page-id-13 .footer-sec {position: relative; }
.contact-getin-touchform {padding: 0 0 0 80px; }
.contact-getin-touchform .input-box {padding: 7px 0; }
.contact-getin-touchform .input-box input {background: white; border: 1px solid #ccc; color: #444; font-size: 15px; font-weight: 400; line-height: 1em; padding: 10px 12px; border-radius: 5px; width: 100%; }
.contact-getin-touchform .input-box textarea {background: white; border: 1px solid #ccc; color: #444; font-size: 15px; font-weight: 400; line-height: 1em; padding: 10px 12px; border-radius: 5px; resize: none; width: 100%; height: 175px; }
.contact-getin-touchform .submit-box {text-align: center; }
.contact-getin-touchform .submit-box input {background-color: #00afef; border: none; padding: 15px 60px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.46); color: #FFF; margin: 30px 0 0; display: inline-block; }
.contact-form-sec {padding: 40px 0 60px; }
.contact-getin-touchform .submit-box input:hover, .contact-getin-touchform .submit-box input:focus{background-color: #000; color: #FFF;}
/*--end--*/

/*catalogue-page*/
.catalogue-form-box input { margin-bottom: 15px; background: white; border: 1px solid #ccc; color: #444; font-size: 15px; font-weight: 400; line-height: 1em; padding: 10px 12px; border-radius: 5px; width: 100%; }
.catalogue-form-box input[type=submit] { width: auto; background-color: #00afef; border: none; padding: 15px 60px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.46); color: #FFF; margin: 30px 0 0; display: inline-block; }
.catalogue-form-box input[type=submit]:hover { background-color: #000; }

.sgpb-theme-1-content { padding: 15px !important; }
.sgpb-theme-1-content .catalogue-form-box input[type=submit] { margin-left: 15px; }

/*--dairy-farm-management-software-page-css--*/
.flip-box1 > .vc_column-inner > .wpb_wrapper {position: relative; color: #ffffff; background: #8fc73e; border-width: 8px; border-style: solid; border-color: #66b512; height: 350px; margin-bottom: 15px; overflow: hidden; }
.flip-box1 > .vc_column-inner > .wpb_wrapper .flip-box-front {height: 100%; display: flex; align-items: center; justify-content: center; }
.flip-box1 > .vc_column-inner > .wpb_wrapper .flip-box-back {position: absolute; height: 100%; width: 100%; bottom: 0; left: 0; display: flex; justify-content: center; align-items: center; opacity: 0; transition: all .3s ease; -webkit-transition: all .3s ease; transform: scale(0); }
.flip-box-front img {width: 100%; max-width: 200px; height: auto; margin-bottom: 20px !important; }
.flip-box1-row.flip-box1-row-1 .flip-box1:nth-child(2) > .vc_column-inner > .wpb_wrapper {border-color: #d63f04; background-color: #e8622f; }
.flip-box1-row.flip-box1-row-3 .flip-box1:nth-child(1) > .vc_column-inner > .wpb_wrapper {border-color: #d63f04; background-color: #e8622f; }
.flip-box1-row.flip-box1-row-1 .flip-box1:nth-child(3) > .vc_column-inner > .wpb_wrapper {border-color: #0083b7; background-color: #0096cf; }
.flip-box1-row.flip-box1-row-2 .flip-box1:nth-child(2) > .vc_column-inner > .wpb_wrapper {border-color: #0083b7; background-color: #0096cf; }
.flip-box1-row.flip-box1-row-3 .flip-box1:nth-child(3) > .vc_column-inner > .wpb_wrapper {border-color: #0083b7; background-color: #0096cf; }
.flip-box1-row.flip-box1-row-2 .flip-box1:nth-child(1) > .vc_column-inner > .wpb_wrapper {border-color: #e09d00; background-color: #ecaa0b; }
.flip-box1-row.flip-box1-row-3 .flip-box1:nth-child(2) > .vc_column-inner > .wpb_wrapper {border-color: #e09d00; background-color: #ecaa0b; }
.flip-box1 > .vc_column-inner > .wpb_wrapper:hover .flip-box-back {bottom: 0; opacity: 1; z-index: 9; background-color: #FFF; color: #000; transform: scale(1); }
.flip-box1 .flip-box-back ul {padding: 20px 20px 20px 40px; }

.pro-icon-box1 > .vc_column-inner > .wpb_wrapper {background-color: #FFF; box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); padding: 10px; height: 100%; border-radius: 0; overflow: hidden; }
.pro-icon-box1 img {width: 100%; height: auto; padding: 20px; background-color: #eaeaea; }
.pro-icon-box1 figure.wpb_wrapper.vc_figure, .pro-icon-box1 figure.wpb_wrapper.vc_figure > div {width: 100%; }
.pro-icon-box1 h4 {padding: 20px 0 10px; line-height: 30px; }
.pro-icon-box1 h4 a {color: #e05f28; }
.pro-icon-box1 p {padding: 0 20px; line-height: 30px; }
/*--end--*/

/*--why-afiffarm5-2-page-css--*/
.airfirm-list-sec {padding-bottom: 80px; }
.airfirm-list-sec .airfirm-list-box1 {background-color: #FFF; box-shadow: 0 0 10px rgba(0, 0, 0, 0.21); margin-top: 30px !important;border-radius: 0px 130px 0px 49px; }
.airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3 {font-size: 24px; line-height: 30px; }
.airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3:before {width: 100px; height: 70px; background-size: contain; left: -50px; top: -25px; }
.airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox {padding: 30px 0 25px; }
.airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h4 {margin: 20px 0; font-weight: 400; }
.airfirm-list-box1-left {padding: 20px 0; text-align: center; }
.airfirm-list-box1-left .airfirm-list-box1-left-img {text-align: center !important; padding: 30px 0; }
.airfirm-list-box1-left .airfirm-list-box1-left-text h4 {font-weight: 600; }
.airfirm-list-box1-left .airfirm-list-box1-left-text h4 a {color: #e05f28; }
/*--end--*/

/*--cow-mionitring-page-css--*/
/*.the-world-img-sec figure.wpb_wrapper.vc_figure, .the-world-img-sec figure.wpb_wrapper.vc_figure > div {width: 100%; }*/
.the-world-img-sec img{width: 100%; height: auto; }
.the-world-img-sec .wpb_single_image.wpb_content_element.vc_align_left {text-align: center !important; }
/*--end--*/

/*--afiact-ii-leg-tag-cow-heat-detection-page-css--*/
.inner-leading-column1 img {width: 100%; }
.inner-leading-column1 figure, .inner-leading-column1 figure > div {width: 100%; }
.inner-leading-column1 > .vc_column-inner > .wpb_wrapper {padding: 20px; background-color: #f9f9f9; margin-bottom: 20px; }
.inner-leading-column1 p {padding: 20px 0 0; font-size: 18px; }
/*--end--*/

/*--cow-cubicle-page-css--*/
.inner-column-image-row-col1 .column-image img {width: 100%; height: auto; }
.inner-column-image-row-col1 .column-image figure, .inner-column-image-row-col1 .column-image figure div {width: 100%; }
.inner-column-image-row-col1 > .vc_column-inner > .wpb_wrapper {background-color: #ededed; padding: 15px; }
/*--end--*/

/*--404-error-page-css--*/
.error-page-banner-sec {height: 250px; overflow: hidden; }
.error-page-banner-sec img {width: 100%; height: 100%; object-fit: cover; }
.error-page-content {padding: 20px 0 40px; }
.error-page-content .error-content img {width: 100%; max-width: 350px; }
.error-page-content .error-content {text-align: center; }
.error-page-content .error-content h1 {font-weight: 600; font-size: 20px; padding: 5px 0; }
.error-page-content .error-content p {font-size: 18px; }
.btnbox-error a {background-color: #00afef; border: none; padding: 15px 60px; font-size: 20px; border-radius: 100px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.46); color: #FFF; margin: 30px 0 0; display: inline-block; }
.btnbox-error a:hover{color: #FFF !important; background-color: #333; border-color: #333; }
/*--end--*/

/*--search-page-css--*/
.seacrh-content article {background-color: #FFF; box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); margin-bottom: 25px; padding: 20px; }
.seacrh-content article h4.entry-title {padding: 0 0 10px; font-weight: 700; color: #444; }
.seacrh-content article h4.entry-title a{color: #00afef;}
.seacrh-content article h4.entry-title a:hover{color: #000000;}
.seacrh-content article footer.entry-meta {display: none !important; }

.seacrh-content article .read-more-link {padding: 20px 0 0; }
.seacrh-content article .read-more-link a {background-color: #00afef; border: none; padding: 7px 30px; font-size: 16px; border-radius: 100px; box-shadow: none; color: #FFF; margin: 0; display: inline-block; }
.seacrh-content article .read-more-link a:hover{background-color: #000;color: #FFF;}
/*--end--*/

.video-playbtnbox {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.video-playbtnbox .play-btnbox a {display: block; width: 80px; height: 80px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.39); border-radius: 100%; text-align: center; line-height: 70px; color: #FFF; font-size: 43px; padding-left: 8px; border: #FFF 5px solid; transition: all .3s ease; -webkit-transition: all .3s ease; }
.video-playbtnbox .play-btnbox a:hover{transform: scale(1.05,1.05);}


/*--22-1-20--*/
section.brand-sec.inner-special-textbox p {width: 100%;color:#fe8d20;margin: 0px auto 0px }
section.image-text-sec .left-imagebox a:hover img {transform: scale(1.1,1.1); }
section.brand-sec.inner-special-textbox {padding: 10px 0; }
.mobile-app-image figure.wpb_wrapper.vc_figure {width: 100%; max-width: 200px; }
.inner-third-title.inner-third-title-left .wpb_wrapper {text-align: left !important; }
.brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 144px !important; }
.brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper {position: relative; }
.brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {position: absolute; z-index: 99; left: 28%; top: 40px;width: 180px; }
.inner-banner-title {display: flex; justify-content: flex-end; height: 100%; align-items: flex-end; }
.hero-img-box1, .hero-img-box2, .hero-img-box3, .hero-img-box4 {
    display: none; position: absolute; width: 300px; height: 300px; transform: translate(-50%, -100%); right: 0%; top: 0%; }
.hero-img-box-secin .hero-img-box1 img, .hero-img-box-secin .hero-img-box2 img, .hero-img-box-secin .hero-img-box3 img, .hero-img-box-secin .hero-img-box4 img {
    width: 100%; height: 100%; background: #fff; padding: 10px; border-radius: 10px; }
.testimonial-video .testimonial-video-box > .vc_column-inner figure.wpb_wrapper .vc_single_image-wrapper img {width: 100%; height: 500px; max-width: 100%; object-fit: cover; object-position: center -5px; }
.testimonial-video .testimonial-video-box > .vc_column-inner figure.wpb_wrapper .vc_single_image-wrapper {width: 100%; }
.testimonial-video .testimonial-video-box > .vc_column-inner figure.wpb_wrapper {width: 100%; }
.testimonial-video .testimonial-video-box > .vc_column-inner {height: 100%; }
.inner-page-title-text.contact-page-title > .wpb_wrapper {text-align: center; padding: 0px 0 0px; }
.inner-page-title-text.inner-page-title-text-left > .wpb_wrapper {text-align: left; }
.inner-page-title-text.inner-page-title-text-left > .wpb_wrapper ol {padding-left: 15px !important; }
.inner-second-title.inner-special-textbox{padding: 0px 0 20px;}
/*span.blink-text.blink_me {position: relative; background-color: #ffffff; color: #fe8d20; font-size: 28px; line-height: 38px; width: 100%; border-radius: 10px; padding: 10px 20px; font-weight: 500; margin: 30px auto 10px; border: 2px solid #00afef; }*/
.inner-who-we-are-sec-row11 {display: flex; align-items: center; flex-flow: wrap; }
.product-image-text strong {font-size: 18px; }
.product-image-text {padding-top: 20px; }
.mpc-milk-image-sec .vc_single_image-wrapper img {max-width: 267px; }
.text-space {padding-top: 20px; }
.product-image-text11 strong {font-size: 16px; }


@media (min-width: 1620px){
  /*--hero-banner-css--*/
  .hero-banner-sec .hero-contentbox .container {justify-content: center;}
  /*--end--*/

  /*--dairy-farm-sec-css--*/
  .dairy-farm-sec {background-size: contain;height: 1150px;}
  /*--end--*/
}

@media (max-width: 1199px){
	.header-sec .wp-megamenu-wrap .wpmm-nav-wrap>ul>li>a {padding: 35px 9px; }
  /*--hero-banner-css--*/
  .hero-contentbox .hero-textbox p {font-size: 18px;line-height: 33px;}
  .hero-contentbox .hero-textbox {max-width: 312px;}
  /*--end--*/

  /*--image-text-sec-css--*/
  .image-text-content .text-box {width: 44%;padding-right: 0;}
  .neck-collar-title h2:before { left: -20px; }
  /*--end--*/

  /*--dairy-farm-sec-css--*/
  .dairy-farm-sec .container {padding-bottom: 90px;}
  .dairy-farm-sec .bottom-imgbox a {width: 350px;height: 350px;    margin: 60px 0 0 33px;}
  .dairy-farm-sec .bottom-imgbox {width: 352px;height: 352px;}

  /*--end--*/
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {left: 28%; top: 28px; }

}

@media (max-width: 991px){
  /*--header-css--*/
  .header-sec .wp-megamenu-wrap.wpmm-sticky.wpmm-sticky-wrap {background-color: transparent;box-shadow: none;}
  .header-sec .container {width: 100% !important; padding: 0 !important; } 
  .header-sec nav.wp-megamenu-wrap.wpmm-sticky.wpmm-mobile-menu {padding: 0 20px;}
  .wp-megamenu-wrap.wpmm-sticky.wpmm-mobile-menu.wpmm-sticky-wrap {background-color: #FFF;}
  div#wpmm-strees-row-20 > ul.wp-megamenu-sub-menu {box-shadow: none !important;}
  #wp-megamenu-primary.wp-megamenu-wrap.wpmm-mobile-menu .wpmm-nav-wrap > ul#menu-main-menu {height: 450px; overflow: hidden; overflow-y: scroll; }
  .wp-megamenu-wrap.wpmm-sticky.wpmm-mobile-menu.wpmm-sticky-wrap {box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);}
  .wp-megamenu-wrap.wpmm-sticky.wpmm-mobile-menu.wpmm-sticky-wrap a.wpmm_mobile_menu_btn {margin: 0;}
  /*--end--*/

  /*--hero-banner-css--*/
  .hero-contentbox .hero-textbox {max-width: 100%;}
  .hero-banner-sec .video-sec video.video-sec__content {width: 100%;}
  .hero-img-box-secin .hero-img-box {width: calc(100%/4 - 16px); margin: 0 8px; float: left; }
  .hero-img-box img {width: 100%;height: 150px;}
  .hero-banner-sec .hero-contentbox .hero-textbox {margin-bottom: -86px; align-items: start; justify-content: left; }

  /*--end--*/

  /*--turnkey-sec-css--*/
  .turnkey-sec-1 .left-imagebox1 {padding-right: 15px;}
  /*--end--*/

  /*--image-text-sec-css--*/
  .image-text-sec .left-imagebox {max-width: 350px;}
  .image-text-sec .left-imagebox img {max-width: 285px;}
  .image-text-content .text-box {width: 50%;}
  /*--end--*/

  /*--dairy-farm-sec-css--*/
  .dairy-farm-sec {padding: 40px 0 0;}
  .dairy-farm-sec .bottom-imgbox {width: 301px;height: 303px;margin: 0 100px 0 auto;}
  .dairy-farm-sec .bottom-imgbox a {width: 300px;height: 300px;margin: 0;}
  /*--end--*/

  /*--home-column-slider-css--*/
  .homeslider1 .slide-1 .left-column {padding-right: 15px;}
  .homeslider1 .right-column {padding-top: 5px;}
  /*--end--*/

  /*--brand-sec-css--*/
  .brand-sec .right-column1 ul {flex-flow: wrap;}
  .brand-sec .right-column1 ul li {width: calc(100%/5);}
  .brand-sec .right-column1 ul li img {padding: 5px;}
  .brand-sec .left-column1 p {font-size: 16px;text-align: center;}
  /*--end--*/

  /*--footer-css--*/
  .footer-menubox .row {display: flex; flex-flow: wrap; }
  .footer-sec {background-size: cover;}
  .footer-copyrightbox p {padding: 20px 0 0;text-align: center;}
  .footer-copyrightbox .footer-sociallinks ul {text-align: center;}
  /*--end--*/

  .bucket-highlited-listbox li {width: calc(100%/2 - 20px);}

  .mordern-growth {padding-top: 0px; }
  .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu:hover div#wpmm-strees-row-20{height: auto !important;}
  .header-sec .wp-megamenu-wrap.wpmm-sticky.wpmm-sticky-wrap .wpmm-nav-wrap>ul>li>a{padding:20px 15px;}
  .image-text-sec {padding: 90px 0; }
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 100px !important; }
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {top: 24px; }
  li#wp-megamenu-item-23 {display: none; }


}

@media (max-width: 768px){
.full-single-image-sec {padding-top: 0px; padding-bottom: 0px; }
.wpb_single_image img {margin: 5px 0;}
.wpb_image_grid .wpb_image_grid_ul li {width: calc(100%/2 - 20px) !important; }

 }




@media (max-width: 767px){
  /*--hero-banner-css--*/
  .hero-banner-sec .video-sec {height: 450px;}
  .hero-banner-sec {position: relative;}
  .hero-img-box-secin { max-width: 100%; text-align: center; }
  .hero-img-box img { object-position: center; }
  .hero-img-box-sec {padding: 15px 0;}
  .hero-img-box-secin {padding: 0 5px;}

  .hero-img-box-sec {position: relative;background-color: #f7f7f7;}
  .hero-img-box-sec .container-box {max-width: 100%;margin: 0 0 0 auto;}
  .hero-banner-sec .hero-contentbox .hero-textbox {margin-bottom: 0px; align-items: center; justify-content: center; }
  .header-sec {position: static; }

  /*--end--*/

  /*--image-text-css--*/
  .inner-page-banner {margin-top: 0; }
  .image-text-content {position: inherit;}
  .image-text-content .text-box {width: 100%;padding: 20px 0 0;}
  .image-text-sec {padding: 50px 0;}
  /*--end--*/

  /*--dairy-farm-sec-css--*/
  .dairy-farm-sec .right-top-prbox {right: 15px;}
  /*--end--*/

  /*--home-column-slider-css--*/
  .homeslider1 .slide-1 .row {display: block;}
  /*--end--*/

  /*--footer-css--*/
  .footer-sec {padding: 150px 0 0;}
  /*--end--*/

  /*--contact-page-css--*/
  .contact-getin-touchform {padding: 0;}
  /*--end--*/

  /*--why-afiffarm5-2-page-css--*/
  .airfirm-list-sec {padding: 30px 30px 60px;}
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox {padding: 10px 0 25px 0; }
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3 {font-size: 20px;}
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3:before {width: 75px;height: 57px;left: 0;top: -25px;}
  .airfirm-list-box1-left .airfirm-list-box1-left-img {padding: 0;}
  /*--end--*/

  /*--inner-pages-css--*/
  .inner-page-banner h3 { font-size: 20px; }
  .inner-default-page .wpb_single_image.vc_align_left {text-align: center;}
  .inner-default-page ul, .inner-default-page ol {padding: 15px 0 15px 20px;}
  .bucket-highlited-listbox li {width: 100%;float: none;margin: 10px 0;display: block;}
  /*--end--*/
 .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {top: 43px; }
 .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 95px !important; }
 .full-single-image-sec {padding-top: 0px; padding-bottom: 0px; }
 .wpb_single_image img {margin: 5px 0;}
 .video-gallery ul li {padding: 10px 0 5px 0px !important; }
 .video-gallery ul {flex-flow: wrap; }
 .page-id-64 div#colorbox img.cboxPhoto {height: 300px !important; object-fit: cover; object-position: center;width: 300px !important; }


}

@media (max-width: 766px){
.gallery-page-sec1 {display: block; }
.video-gallery-page-sec2 {display: none !important; }
}

@media (max-width: 600px){
  /*--home-hero-banner-css--*/
  .hero-banner-sec .video-sec {height: 100%;}
  .hero-banner-sec .hero-contentbox {position: inherit; background: #f7f7f7; padding: 20px 20px 20px; }
  .hero-banner-sec .hero-contentbox .hero-textbox h1 { color: #00afef; }
  .hero-banner-sec .hero-contentbox .hero-textbox p { color: #00afef; }
  .hero-img-box { margin-bottom: 30px; }
  .hero-img-box-secin .hero-img-box {width: calc(100%/1 - 16px);margin: 8px;}
  .hero-img-box-secin {padding: 0 10px;}
  .hero-contentbox .hero-textbox {max-width: 100%; }
  .hero-banner-sec .hero-contentbox .hero-textbox {margin-bottom: 0px; }
  .hero-img-box img {width: 100%; height: 100%; }

  /*--end--*/


  /*--get-in-touch-sec-css--*/
  .get-intouch-form {display: block; width: 100%; height: auto; border-radius: 20px; padding: 20px; overflow: hidden; margin: 20px auto; padding-bottom: 60px; }
  /*--end--*/

  /*--dairy-farm-sec-css--*/
  .dairy-farm-sec .right-top-prbox {display: none;}
  .dairy-farm-sec .text-box {width: 100%;padding-bottom: 30px;}
  /*--end--*/

  /*--getin-touch-sec-css--*/
  .getin-touchform .form-titlebox {padding: 0 0 20px;}
  /*--end--*/

  /*--footer-css--*/
  .footer-copyrightbox p {font-size: 14px;}
  /*--end--*/

  /*--inner-page-css--*/
  h1:before, h2:before, h3:before {width: 75px;height: 57px;left: 0;top: -25px;}
  .inner-second-title h2, .inner-second-title h3, .inner-third-title h3 {font-size: 20px;}
  .inner-second-title h2:before, .inner-third-title h2:before {width: 75px;height: 57px;left: 0;top: -25px;}
  .inner-second-title h3:before, .inner-third-title h3:before {width: 75px;height: 57px;left: -30px;top: -25px;}
  .inner-page-title-text > .wpb_wrapper {padding: 40px 0 10px;}
  .inner-second-title, .inner-third-title {padding: 10px 0 10px !important;}
  h1, h2, h3 {font-size: 22px;}
  .inner-special-textbox p{font-size: 20px;}
  figure.wpb_wrapper.vc_figure .vc_single_image-wrapper.vc_box_border_grey img.vc_single_image-img.attachment-full {border-radius: 5px;border:none;}
  .inner-second-title h2:before{left: -6px;}
  /*--end--*/
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {top: 29px; }
 .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 75px !important; }
}
@media (max-width: 480px){
.brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {top: 21px; }
 .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 65px !important; }
 .wpb_image_grid .wpb_image_grid_ul li {width: calc(100%/1 - 20px) !important; }
 .inner-full-content-sec .vc_single_image-wrapper.vc_box_border_grey img {height: 100%; width: 100%; }
 .footer-menubox .footer-menubox1 {padding-bottom: 20px; }
 }

@media (max-width: 450px){
  /*--home-hero-banner-css--*/
  .hero-contentbox .hero-textbox p {font-size: 16px;line-height: 26px;}
  .hero-banner-sec .hero-contentbox {padding: 40px 5px 40px;}
  /*--end--*/

  /*--getin-touch-sec-css--*/
  .getin-touchform .form-titlebox p {font-size: 16px;}
  .getin-touchform .form-titlebox h3 {font-size: 24px;}
  .get-intouch-form {padding-bottom: 35px;}
  /*--end--*/

  /*--brand-sec-css--*/
  .brand-sec p {font-size: 16px;line-height: 26px;}
  .brand-sec .left-column1 p {line-height: 26px;font-size: 16px;padding-bottom: 10px;}
  .brand-sec .right-column1 ul li {width: calc(100%/3);}
  /*--end--*/

   /*--why-afiffarm5-2-page-css--*/
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox {padding: 0 0 25px 0; }
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3 {font-size: 18px; line-height: 30px; }
  .airfirm-list-sec .airfirm-list-box1 .airfirm-list-box1-right-textbox h3:before{display: none;}
    /*--end--*/

  /*--404-error-page-css--*/
  .error-page-banner-sec {height: 175px;}
  .error-page-content .error-content img {max-width: 250px;}
  .error-page-content .error-content h1 {font-size: 18px;line-height: 26px;}
  .error-page-content .error-content p {font-size: 16px;}
  /*--end--*/

  /*--inner-pages-css--*/
  .inner-default-page header.entry-header{height: 175px;}
  .inner-page-title-text > .wpb_wrapper {padding: 10px 0 5px;}
  .inner-second-title h2, .inner-second-title h3, .inner-third-title h3 {font-size: 20px;}
  .inner-second-title, .inner-third-title {padding: 50px 0 40px;}
  /*--end--*/
}

@media(max-width:400px){
  .inner-special-textbox p {font-size: 14px; line-height: 30px; }
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 {top: 19px; }
  .brand-image-sec-pop-sec > .vc_column-inner > .wpb_wrapper .brand-image-sec11 img {max-width: 50px !important; }
}